@model WaveaccessTask.Models.Actor

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Rating
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            Movies starred in
        </dt>
        <dd class = "col-sm-10">
            @foreach (var movie in Model.MoviesStarredIn)
                {
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                        @Html.DisplayFor(modelItem => movie.Title)
                    </a>
                    <br />
                }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to actors</a>
</div>
